head
	meta(charset="utf-8")
	title= (single ? combinedArtist + ', "' + single.title + '"' : collection.title) + ' – ' + config.document.title
	<script>document.documentElement.className = document.documentElement.className.replace(/(^|\\\b)no-js(\b|$)/, 'js');if (!("ontouchstart" in document.documentElement)) {document.documentElement.className += " no-touch";}</script>

	link(rel="icon", type="image/png", href="#{config.cdn}/favicon-32x32.png", sizes="32x32")
	link(rel="icon", type="image/png", href="#{config.cdn}/favicon-16x16.png", sizes="16x16")

	meta(name="viewport", content="width=device-width,initial-scale=1.0")
	meta(name="keywords", content="music, best of the year, playlist, best tracks of 2014, songs, tracks, electronica, hiphop, hip-hop, pop, rock, indie, 2014, soundcloud, stream, mp3")
	meta(name="description", content="Cloudlist is a WYSIWYG playlist creation and publishing tool based on SoundCloud.")

	meta(property="og:site_name", content="Cloudlist")
	meta(property="og:url", content="https://www.cloudlist.io/#{path}/#{single ? single.permalink : ''}")

	if single
		meta(property="og:title", content="#{single.title} by #{single.artist}")
		//- Determine if it's a screenshot of a moving mp4, or just a regular image
		- var cover = single.covers[0].screenshot ? single.covers[0].screenshot : single.covers[0].filename;
		meta(property="og:image", content="#{config.cdn}/img/#{cover}")
		meta(property="og:description", content="At position no. #{index} in the list #{collection.title}: &quot;#{single.title}&quot; by #{combinedArtist}.")
	else if collection.thumbnails
		meta(property="og:image", content="#{config.cdn}/img/#{collection.thumbnails.montage.filename}")
		meta(property="og:description", content="#{collection.description}")
	else
		meta(property="og:image", content="#{config.cdn}/img/cloudlist-splash.jpg")
		meta(property="og:description", content="#{collection.description}")

	if prod
		link(href="#{config.cdn}/css/#{assets.styles['templates/' + collection.template + '.css']}", rel="stylesheet")
	else
		link(href="#{config.host.protocol}://#{config.host.name}/css/templates/#{collection.template}.css", rel="stylesheet")
