noscript
    div#noscript-warning
        a.close-dialog(href="#noscript-warning")
            span.visuallyhidden Close
            | <svg viewBox="0 0 23.746 23.746"><use xlink:href="#icon-close"></use></svg>
        h4 :(
        p It seems you have disabled JavaScript in your browser.
        p I know this sucks. I really do. But this whole thing kinda depends on JavaScript being activated.
        p However, if you want to just view the content without interacting with it, click the X in the upper corner of this box to close the message, and then scroll away to your heart's content.

script (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-58137452-1', 'auto');ga('send', 'pageview');
- var obfuscatedCollectionId = hashids.encodeHex(collection._id);
if single
    - var obfuscatedId = hashids.encodeHex(single._id);
    script.
        var autostart = '#{obfuscatedId}';
if prod
    script(src=config.cdn + "/js/" + assets.scripts['common.js'])
    script(src=config.cdn + "/js/" + assets.scripts[collection.template + '.js'])
else
    script(src=config.host.protocol + "://" + config.host.name + "/assets/js/common.js")
    script(src=config.host.protocol + "://" + config.host.name + "/assets/js/" + collection.template + ".js")
