doctype html
html(lang="en-US")
	head
		meta(charset="utf-8")
		title= title
		link(rel="stylesheet", href="/assets/css/admin/admin.css")
	body
		header(role="banner")
			h1
				a(href="/hinderson/") Dashboard
			h2.user-name hinderson
		main(role="main")
			section.song-list
				header
					h2 My playlists

				// LÄGG TILL SORTORDER HÄR

				ul.playlists
					- if (sortorder) {
						-	for (var i = 0, len = sortorder.length; i < len; i++) {
						-		var collection = playlists[i];
						-		var index = i;
						-		index += 1;
						-		var obfuscatedId = hashids.encodeHex(collection._id);
						li
							div.availability
								input(type="checkbox", checked)
							div.image
								if collection.covers && collection.covers[0]
									div.img(style="background-image:url(../media/img/#{collection.covers[0].src});", title="#{collection.covers[0].src}")
							div.title
								a(href="/hinderson/#{obfuscatedId}/edit") #{collection.title}
							div.stats Songs: #{collection.items.length}
							div.actions
								form(name="delete-collection", method="post", action="/delete-collection/#{obfuscatedId}", enctype="multipart/form-data")
									button(type="submit").delete ✕ Delete

						-	}

					- } else {
						p.empty No playlists :(
					- }
			section.create-playlist
				h2 Create new playlist
				form(name="create-collection", method="post", action="/create-collection", enctype="multipart/form-data")
					fieldset.metadata
						h3 Title
						label Title
							input(type="text", placeholder="Title", name="title", required)
					button(type="submit") Submit
		script(src="/assets/js/admin/libs/zepto.min.js")
		script(src="/assets/js/admin/libs/id3.js")
		script(src="/assets/js/admin/libs/slip.js")
		script(src="/assets/js/admin/admin.js")