//- Determine if this is a single song or not
-	if (single) {
		//- Determine index position of song
-		var index = collection.items.indexOf(single._id.toString()) + 1;
		//- Structure artist and titles
-		var artist = Array.isArray(single.artist) && single.artist.length > 1 ? single.artist.slice(0, -1).join(', ') + ' & ' + single.artist[single.artist.length -1] : single.artist;
-		var featuredartist = Array.isArray(single.featuredartist) && single.featuredartist.length > 1 ? single.featuredartist.slice(0, -1).join(', ') + ' & ' + single.featuredartist[single.featuredartist.length -1] : single.featuredartist;
-		var combinedArtist = artist + (featuredartist && featuredartist.length > 0 ? (' feat. ' + featuredartist) : '');
-	}

doctype html
html(lang="en", class="no-js " + collection.template)
	include ./includes/head

	body
		header(class="header-main", role="banner")
			block header
				div.group
					div.group-inner
						a(href="/", title="Go to main page")
							span.visuallyhidden Cloudlist
							div.logo
								span.svg-container
									include ../client/img/cloudlist-logo.svg
						div.controls
							input.volume-slider(type="range", step="1", value="90", min="0", max="100")
							button.play-state
								span.visuallyhidden Toggle play/pause
								div.play
									span.svg-container
										include ../client/img/icon-state-play.svg
								div.pause
									span.svg-container
										include ../client/img/templates/best-songs-of-2015/icon-state-pause.svg
							button.info-toggle
								span.visuallyhidden Toggle info screen
								span.svg-container
									include ../client/img/templates/best-songs-of-2015/icon-info.svg
							button.fullscreen
								span.visuallyhidden Toggle fullscreen mode
								span.svg-container
									include ../client/img/templates/best-songs-of-2015/icon-fullscreen.svg

		main(class="content-main", role="main")
			block content
				block hero

				block collection
					- var obfuscatedCollectionId = hashids.encodeHex(collection._id);
					section.collection(data-id=obfuscatedCollectionId)
						block collectionHeader
							header.collection-header
								div.header-shadow
									div.gradient

								block collectionSubtitle

								block collectionSort
									strong.visuallyhidden Sort tracks:
									ul(class="sort-collection")
										li(class="col col-index", data-sort-type="index")
											strong.asc Index<svg viewBox="0 0 612 306"><use xlink:href="#icon-caret-asc"></use></svg>
										li(class="col col-title", data-sort-type="title")
											span Title
										li(class="col col-artist", data-sort-type="artist")
											span Artist
										li(class="col col-time", data-sort-type="time")
											span Time

						block collectionList
							h3.visuallyhidden Song list
							ol
								each song, index in songs
									- var obfuscatedId = hashids.encodeHex(song._id);
									- song = structureSong(song);

									li(class=song.available === true ? undefined : "unavailable", data-id=obfuscatedId)
										a(href=config.host.protocol + "://" + config.host.name + "/" + path + "/" + song.permalink + "/")
											div.col.col-index= index+1
											div.col.col-title
												span= song.title
											div.col.col-artist
												span= song.combinedartist
											div.col.col-time
												span.duration= song.duration
										div.cover


		footer(class="footer-main", role="contentinfo")
			small.visuallyhidden= "Copyright " + new Date().getFullYear()

		include ./includes/dialog-options
		include ./includes/scripts
