extends ../layout

block header
	a(href="/", title="Go to main page")
		span.structural Cloudlist
		div.logo
			include ../../client/img/cloudlist-logo.svg
	div.controls
		button.fullscreen
			span.structural Toggle fullscreen mode
			include ../../client/img/templates/best-songs-of-2015/icon-fullscreen.svg
		button.info-toggle
			span.structural Toggle info screen
			include ../../client/img/templates/best-songs-of-2015/icon-info.svg
		button.play-state
			span.structural Toggle play/pause
			div.play
				include ../../client/img/icon-state-play.svg
			div.pause
				include ../../client/img/templates/best-songs-of-2015/icon-state-pause.svg
		input.volume-slider(type="range", step="1", value="90", min="0", max="100")

block content
	- var cdn = prod ? config.cdn : config.host.protocol + '://' + config.host.name;
	section.hero.group
		div.hero-inner
			div.collection-title
				p This is a list of the year’s 100 best songs, curated by <a href="https://twitter.com/hinderson">@hinderson</a>.
				h1
					span.structural #{collection.title}
					include ../../client/img/templates/best-songs-of-2015/banner.svg

	- var obfuscatedCollectionId = hashids.encodeHex(collection._id);
	section.collection.group(data-id="#{obfuscatedCollectionId}")
		header.collection-header
			div.header-shadow
				div.gradient
			div.collection-sub-title
				include ../../client/img/templates/best-songs-of-2015/banner-small.svg
			h4.structural Sort tracks:
			ul(class="sort group")
				li.col.index(data-sort-type="index")
					strong.asc Index<svg viewBox="0 0 612 306"><use xlink:href="#icon-caret-asc"></use></svg>
				li.col.title(data-sort-type="title")
					span Title
				li.col.artist(data-sort-type="artist")
					span Artist
				li.col.time(data-sort-type="time")
					span Time
		h3.structural.
			Song list
		ol
			each song, index in songs
				- var obfuscatedId = hashids.encodeHex(song._id);
				- song = structureSong(song);

				li(class=song.available === true ? undefined : "unavailable", data-id="#{obfuscatedId}", data-index="#{index+1}", data-artist="#{song.combinedartist}", data-title="#{song.title}")
					a(href="#{config.host.protocol}://#{config.host.name}/#{path}/#{song.permalink}/", data-color-contrast="#{song.covers[0].colors.contrast}")
						span.state-icon
							include ../../client/img/templates/best-songs-of-2015/icon-state-loading.svg
							| <svg viewBox="0 0 528.162 486.314" class="state-playing"><use xlink:href="#icon-outline-audio-playing"></use></svg>
							| <svg viewBox="0 0 528.162 486.314" class="state-paused"><use xlink:href="#icon-outline-audio-paused"></use></svg>
						div.col.index #{index+1}
						div.col.title
							span #{song.title}
						div.col.artist
							span #{song.combinedartist}
						div.col.time
							span.duration #{song.duration}
					div.cover(style="background: rgb(#{song.covers[0].colors.primary});")
	footer.go-to-top
		a(href="#top")
			include ../../client/img/icon-arrow-up.svg

block dialog
	p Cloudlist is by <a href="http://hinderson.com/">Hinderson</a>. Previous years: <strike>2011</strike>, <a href="http://xn--retsbsta-4zae.se/2012/" target="_blank">2012</a>, <a href="http://xn--retsbsta-4zae.se/" target="_blank">2013</a>, <a href="https://www.cloudlist.io/best-songs-of-2014/" target="_blank">2014</a>.
	small All tracks and images are © of their respective owners.
