extends ../layout

block content
	section.hero.group
		div.hero-inner
			h1.collection-title #{collection.title}
			button Start playlist
		picture
			source(srcset="#{rootHost}/media/img/test-768x1020.jpg", media="(max-width: 767px)")
			img(src="#{rootHost}/media/img/test-768x1020.jpg", width="1020", height="768", alt="", title="")

	- var obfuscatedCollectionId = hashids.encodeHex(collection._id);
	section.collection.group(data-id="#{obfuscatedCollectionId}")
		header.collection-header
			h3.collection-sub-title #{collection.title}
			h4.structural Sort tracks:
			ul(class="sort group")
				li.col.index(data-sort-type="index")
					strong.asc Index<svg viewBox="0 0 612 306"><use xlink:href="#icon-caret-asc"></use></svg>
				li.col.title(data-sort-type="title")
					span Title
				li.col.artist(data-sort-type="artist")
					span Artist
				li.col.time(data-sort-type="time")
					span Time
		h3.structural.
			Song list
		ol
			each song, index in songs
				- var obfuscatedId = hashids.encodeHex(song._id);
				- song = structureSong(song);

				li(class=song.available === true ? undefined : "unavailable", data-id="#{obfuscatedId}", data-index="#{index+1}", data-artist="#{song.combinedartist}", data-title="#{song.title}")
					a(href="#{rootHost}/#{path}/#{song.permalink}/")
						div.col.index #{index+1}
						div.col.title
							span #{song.title}
						div.col.artist
							span #{song.combinedartist}
						div.col.time #{song.duration}

	footer.go-to-top
		a(href="#top") Top ↑